.home-container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-item {
  margin: 10px 0;
}

.link {
  display: block;
  width: 100%;
  height: 40px;
  max-width: 300px; /* Optional: Set a max-width to prevent buttons from being too large */
  padding: 10px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 auto;
  padding-top: 1%;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transition added for smooth hover effect */
}

.link:hover {
  background-color: white; /* Change background on hover */
  color:#007bff;
  border: 2px solid #007bff;
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
